* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    background-color: #d67069;
    padding: 50px;
}

body {
    background-color: #97998a;
}

.fig {
    position: relative;
    overflow: hidden;
}

.overview {
    background-color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: all 2s;
    height: 70%;
    overflow-y: auto;
    text-decoration: justify;
}

.fig:hover .overview {
    transform: translateY(0);
}